* {
  /* margin: 10px;
  padding: 10px 0; */

}



/* .blank2>button{
  
  margin-left: 860px;
  border-radius: 10%;
  font-size: 10px;
  height: 23px;
  width: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: pink;
  border: 1px solid pink;
  
} */

section{
    width: 70%;
    margin: 300px;
    margin-top: 10px;
}



section>.largetitle{
    font-size: 15px;
    width: 180px;
    margin: 65px 110px;  
}

section>.box{
    border-bottom: 4px solid #B4AEE8;
    width: 80%;
    margin: -40px 110px;
}

section>.box1{
    border-bottom: 3px solid purple;
    width: 80%;
    margin: 3px 110px;
}

section>.grap>.first{
    display: flex;
    border-bottom: 2px solid #eae9e9;
    width: 80%;
    margin: 0 110px;
    font-size: 10px;
    justify-content: space-between;
    height: 40px;
}

.first>h2{
    margin: 5px 30px;
   margin-top: 1px;
   font-size : 17px;
   width : 80px;

}

.first>h1{
    margin:0 400px;
    margin-top: 1px;
    margin-left: 50px;
     font-size :17px;
}

section>.grap>.other{
    border-bottom: 1px solid #eae9e9;
    height: 30px;
    width: 80%;
    margin: 10px 110px;
    display: flex;
    font-size: 11px;
    justify-content: space-between;
}

.other>h3{
    margin: 5px 195px;
   margin-top: -7px;
   width: 50%;
  margin-left: 20px;
  display: flex;
    align-items: center;
}

h3>a{
	text-decoration: none;
	color: black;
}

.other>h4{
    margin:0 10px;
    margin-top: -5px;
      display: flex;
    align-items: center;
    font-size: 13px;
}


.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -250px;
  margin-left: -40px;
}

.button>button{
  margin: 0 5px;
  border-radius: 20%;
  font-size: 2px;
  border-width: 2px;
  height: 30px;
  width: 30px;
  border-color: black;
  background-color: ivory;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right : 80px;
  margin-bottom : 30px;
}

.pagination > ul {
  display: flex;
  list-style: none;
  /* background-color: rgb(238, 231, 231); */
}

.pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid rgb(231, 228, 228);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #B4AEE8;
  border-color: #B4AEE8;
  color: black;
}

.pagination .active {
  background-color: rgb(231, 228, 228);
  border-color: rgb(231, 228, 228);
  color: #fff;
}

.grap>.other2{
	font-weight : bold;
	margin: 300px 0;
	font-size : 20px;
}




footer{
    height: 200px;
}