@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
	 font-family: 'GmarketSansMedium';
}

header{
    width: 100%;
    height: 200px;
}

.big-box{
    height: 800px;
    width: 60%;
    margin: 0 auto;
    border-bottom: 5px solid #B4AEE8;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #B4AEE8;
}

.title>h1{
    margin: 10px 2px;
    font-size: 13px;
}

.date>p{
    margin: 10px 10px;
    font-size: 13px;
}

.else{
 white-space : pre-line; /* 엔터,공백처리 */
}
 

.else>p{
    margin: 20px 50px;
    font-size: 15px;
}

.big-box>.remove{
    padding: 0 10px;
    margin: 30px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 
}

.remove>button{
  border-radius: 10%;
  border: 1px solid  #fffcfc;
  font-weight: bold;
  color: gray;
  font-family: 'GmarketSansMedium'
}

.remove>.list{
  font-size: 17px;
}

.remove > .list:hover {
  cursor: pointer;
  color: #B4AEE8;
}

.remove > .delete:hover {
  cursor: pointer;
  color: #B4AEE8;
}

.remove > .edit:hover {
  cursor: pointer;
  color: #B4AEE8;
}

.remove>.edit{
  font-size: 17px;
}
.remove>.delete{
  font-size: 17px;
}




footer{
    width: 100%;
    height: 200px;
}