@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
	 font-family: 'GmarketSansMedium';
}


.grap>.largetitle{
  display: flex;
  justify-content: space-between;
  margin: 0 400px;
}

.grap>.box{
  border-bottom: 4px solid #B4AEE8;
  margin: 0 400px;
}

.first{
  display: flex;
  border-bottom: 2px solid #eae9e9;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  height: 40px; 
  margin: 0 400px;
}

.first>h2{
 margin: 0 10px;
}

.first>h1{
 margin-left: 70px;
} 

section>.grap>.other{
    border-bottom: 1px solid #eae9e9;
    height: 40px;
    margin: 0 400px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.other>h3{
  margin-left: 10px;
  display: flex;
    align-items: center;
}

h3>a{
	text-decoration: none;
	color: black;
}

.other>h4{
    margin:0 10px;
      display: flex;
    align-items: center;
    font-size: 13px;
}


.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -250px;
  margin-left: -40px;
}

.button>button{
  margin: 0 5px;
  border-radius: 20%;
  font-size: 2px;
  border-width: 2px;
  height: 30px;
  width: 30px;
  border-color: black;
  background-color: ivory;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right : 80px;
  margin-bottom : 30px;
}

.pagination > ul {
  display: flex;
  list-style: none;
}

.pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid rgb(231, 228, 228);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #B4AEE8;
  border-color: #B4AEE8;
  color: black;
}

.pagination .active {
  background-color: rgb(231, 228, 228);
  border-color: rgb(231, 228, 228);
  color: #fff;
}

.grap>.other2{
	font-weight : bold;
	margin: 300px 0;
	font-size : 20px;
}

footer{
    height: 200px;
}