*{
    margin: 0;
    padding: 0;
}

header{
    height: 200px;
}

.big-box{
    margin: 20px 300px;
}

.gd{
    display: flex;
    margin-bottom: 10px;
}

.small-box>.text1{
    font-weight: bold;
    margin-bottom: 10px;
}

.small-box>.title{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 5px;
}

.small-box>.word1{
    font-weight: bold;
    margin-bottom: 10px;
}

.small-box>.word{
    width: 100%;
    height: 300px;
    border-color: rgb(201, 200, 200);
    font-size: 20px;
    resize: none;
    border-radius: 5px;
    padding : 10px;
}

/* 이미지 업로드 스타일 */

svg {
    width: 1em;
    height: 1em;
    fill: red;
 }
 
 .image-upload-wrap {
    border: 1px solid rgb(240, 240, 240);
    background-color: white;
    padding: 13px;
    position: relative;
 }
 
 .upload-text {
    display: flex;
    justify-content: center;
    margin: 4px;
    font-size: 12px;
    color: rgb(180, 178, 178);
 }
 
 .upload-text:first-child {
    color: black;
    font-weight: bold;
 }
 
 .upload-text:last-child {
    color: red;
    font-weight: bold;
    font-size: 13px;
 }
 
 .upload-icon {
    margin-right: 5px;
 }
 
 input[type='file'] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
 }
 
 .form-group>.file{
     font-weight:bold;
 }
 
 .file-list {
    list-style-type : none;
    margin-top : 15px;
    display : flex;
 }
 
 .file-list > li {
    display:flex;
    position : relative;
    width : 145px;
    height : 100px;
    margin-right : 10px;
 }
 
 .show-img-box{
    width : 100%;
    height : 100%;
 }
 
 .show-img-box > img{
    width : 100%;
    height : 100%;
 }
 
 .btn-box{
    bottom : 0;
    right : 0;
    z-index : 1;  
 }
 
 .btn1-box{
    bottom : 0;
    right : 0;
 }
 
 .img-cancel-btn{
     background-color: #333333;
     color: white;
     border: none;
     border-radius: 5px;
     width: 40px;
     height: 25px;
 }
 
 .img-cancel-btn:hover{
    background-color: #B4AEE8;
    color: #fffcfc;
 }

 .button{
    display: flex;
    justify-content: center;
 }

 .button>button{
    margin: 0 10px;
    padding: 5px 5px;
    border: 1px solid #e3dede;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fffcfc;
 }

 .button>.cancel-btn{
    margin: 0 10px;
    padding: 5px 5px;
    border: 1px solid #e3dede;
    border-radius: 12px;
    cursor: pointer;
 }

 .button>button:hover{
    color: #B4AEE8;
    border-color: #B4AEE8;
 }

 .button>.cancel-btn:hover{
    color: #B4AEE8;
    border-color: #B4AEE8;
 }
 
 .small-box > input[type='text']{
 padding: 10px;
 }
 
 
 