* {
    /* margin: 10px;
    padding: 10px 0; */
    background-color: rgb(255, 255, 245);
  }
  


  section{
      width: 1200px;
      margin: 0 350px;
     
    }
    
    section>.big-box{
    height: auto;
    border: 1px solid rgb(234, 232, 232);
    background-color: rgb(242, 239, 239);
  }

  .big-box>.title{
    margin: 30px 80px;
  }

  .title>h1{
    background-color: rgb(242, 239, 239);
  }

  .big-box>.menu{
    display: flex;
    list-style: none;
    margin: 0 40px;
     background-color:rgb(242, 239, 239);
  }

  .menu>.writer{
    display: flex;
     background-color:rgb(242, 239, 239);
  }

  .writer>h1{
    font-size: 15px;
    margin: -15px 40px;
    height: 20px;
    width: 50px;
    border-right: 1px solid gray;
    background-color: rgb(242, 239, 239);
  }

  .view-attach{
    width:65%;
    height:auto;
    margin : 0 210px;
    background-color: rgb(242, 239, 239);
  }
  
  .view-attach>.img-box{
    background-color: rgb(242, 239, 239);
   }
  
  .writer>.writer2{
    margin: -15px -20px;
    height: 20px;
    width: 100px;
    background-color: rgb(242, 239, 239);
  }
  
  .writer2>img{
    background-color: rgb(242, 239, 239);
  }
  
  .blank{
  width:10%;
  }

  .big-box>hr{
    margin: 30px;
    color: gray;
    background-color: rgb(242, 239, 239);
  }

  .big-box>.img-box{
    border: 1px solid gray ;
    width: 70%;
    height: 600px;
    margin: 70px 175px;
    background-color: rgb(242, 239, 239);
  }

  .big-box>.else{
    background-color: blanchedalmond;
    width: 80%;
   
    border: 1px solid blanchedalmond ;
    margin: 50px 120px;
    font-size: 20px;
    white-space : pre-line;
  }

  .big-box>.else>p{
    background-color: blanchedalmond;
    margin: 40px;
    
  }

  .line>hr{
    margin: 70px 0;
    color: gray;
    width: 100%;
  }

  .else>.comment{
    display: flex;
    width: 50px;
    margin: -60px 780px;
     background-color:rgb(245, 245, 242);
}

.else>.comment>img{
    width: 35px;
    background-color:rgb(245, 245, 242);
  }

  .big-box>.comment2{
    border: 1px solid  rgb(245, 245, 242);
   
    width: 1000px;
    margin: 98px;
  
  }

  .small-box{
    margin: 0px;
    background-color:blanchedalmond;
    height: 75px;
    display: flex;
  }
  
  .small-box>h1{
    margin: 21px 95px;
    background-color: blanchedalmond;
    
  }

  .comment2>.hello{
    border: 1px solid rgb(245, 245, 242);
    height: 110px;
    background-color:rgb(245, 245, 242);
    display: block;
    justify-content: space-between;
  }

  .hello>.date{
    font-size: 13px;
    margin: 10px 30px;
    display: flex;
    background-color:rgb(245, 245, 242);
    width: 90%;
  }

  .date>.none{
    border-right: 1px solid gray;
    width: 20px;
    height: 20px;
    background-color:rgb(245, 245, 242);
  }

  .date>.fuck{
    margin: 1px 16px;
    background-color:rgb(245, 245, 242);
  }

  .date>p3{
    margin: 2px -1px;
    background-color:rgb(245, 245, 242);
  }

  .fuck>p1{
    background-color:rgb(245, 245, 242);
    
  }

  .commtent-sub>.delete{
    height: 0px;
    width: 300%;
    margin: 20px 15px;
    background-color:rgb(245, 245, 242);
  }

  .delete>p2{
    background-color:rgb(245, 245, 242);
  }

.comment-btn{
 background-color:rgb(245, 245, 242); ;
 display: flex;
 width: 50%;
}

  .comment-btn>button{
    border-radius: 10%;
    margin: 15px 5px;
    border: 1px solid burlywood;
    background-color: burlywood;
    font-weight: bold;
    font-size: 13.5px;
  
  }

  .commtent-sub {
    display: flex;
    justify-content: space-between;
    background-color:rgb(245, 245, 242);
  }

 
  .comment2>.hello2{
    border: 1px solid rgb(245, 245, 242);
    height: 99.5px;
    background-color:rgb(245, 245, 242);
    margin: -10px 0;

  }

  .hello2>h1{
    height: 50px;
    width: 50%;
    margin: 50px 450px;
    font-size: 19px;
    background-color:rgb(245, 245, 242);
  }
  
    .writer>.date{
    background-color:rgb(242, 239, 239);
    margin: -30px 210px;
    width: 80px;
    font-size: 15px;
  }

  .date>p{
    background-color: rgb(242, 239, 239);
  }
  
  /* 첨부파일 스타일 */


.img-box {
  
   margin: 10px;
   position : relative;
    background-color: rgb(242, 239, 239);
}

.img-box>img {
   width: 100%;
   
  
}

.download-btn {
   background-color: rgba(0, 0, 0, 0.4);
   width: 1.5em;
   height: 1.5em;
   display: flex;
   align-items: center;
   justify-content: center;
   position : absolute;
   bottom : 0;
   right : 0;
   cursor: pointer;
   border-radius : 4px;
}

.download-btn:hover > svg{
   stroke : rgb(255, 87, 87);
   fill: rgb(255, 87, 87);
}

svg {
   width: 1em;
   height: 1em;
   fill: rgb(255,255,255);
   
   stroke-width: 1;
    stroke: rgb(255, 255, 255);
}

 


  footer{
    height: 100px;
  }