
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium';
}

.writer-btn {
   display: flex;
   justify-content: end;
   align-items: center;
   margin: 50px 340px;
}

.writer-btn>a {
   text-decoration: none;
   color: black;
   font-size: 20px;
}

.writer-btn a:hover {
   border-color: #B4AEE8;
   color: #B4AEE8;
}

.big-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   align-content: center;
   margin: 70px 0;
}

.big-box>.menu {
   display: flex;
   font-size: 10px;
   justify-content: space-around;
   align-items: center;
   height: 60px;
   border-bottom: 3px solid #B4AEE8;
   width: 65%;
   list-style-type: none;
}

.small-box {
   margin: 20px 0;
   height: 300px;
   width: 65%; 
   margin-left: -20px;
}

.small-box>.table {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style-type: none;
   border-bottom: 1px solid rgb(231, 228, 228);
   height: 40px;
   width: 100%;
}

.table>.name {
   text-align: center;
   width: 198px;
   background: none;
}

.name>h1 {
   font-size: 13px;
}

.table>.title {
   text-align: center;
   width: 198px;
   background: none;
}

.title>h1 {
   font-size: 13px;
}

.table>.comment {
   width: 192px;
   text-align: center;
   background: none;
}

.comment>h1 {
   font-size: 13px;
}

.table>.date {
   text-align: center;
   width: 196px;
   background: none;
}

.date>h1 {
   font-size: 13px;
}

.table>.cnt {
   width: 200px;
   text-align: center;
}

.cnt>h1 {
   font-size: 13px;
}

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 80px;
   background-color: #fffcfc;
}

.pagination>ul {
   display: flex;
   list-style: none;
   background-color: white;
}

.pagination a {
   color: #333;
   text-decoration: none;
   font-weight: bold;
   padding: 10px;
   margin: 0 5px;
   border-radius: 5px;
   border: 1px solid rgb(231, 228, 228);
   transition: background-color 0.3s ease, color 0.3s ease;
   background-color: white;
}

.pagination a:hover {
   background-color: #B4AEE8;
   border-color: #B4AEE8;
   color: black;
}

.pagination .active {
   background-color: rgb(231, 228, 228);
   border-color: rgb(231, 228, 228);
   color: #fff;
}

.small-box>.table2 {
   font-size: 15px;
}

a {
   text-decoration: none;
   color: black;
}