* {
  margin: 0px;
  padding: 0px;
}

body {
background-color: #fffff8;
}

a {
  text-decoration: none;
  color : black;
}

.a__inline-block {
  display: inline-block;
}

/* body > hr {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
}
 */
main {
  width: 95%;
  display: block;
  /* padding-left: 150px; */
  /* display: flex;
  justify-content: center; */
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* @media screen and(min-width : 320px ) {
  section {
    background-color: whitesmoke;
  }
} */

/* section */

.category-container {
  /* border-bottom: 0.5px solid rgb(221, 220, 220); */
}

.category-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.menu-list {
  list-style: none;
  margin: 10px 10px;
  padding: 10px 50px;
  cursor: pointer;
}

.category-menu-1{
	background-color: #eb9f9f;
}

.font-name{
	/* background-color:#eb9f9f; */
	position: absolute;
    bottom: 28px;
    right: 25px;
}

.handpen-img{
	position: absolute;
    bottom: 25px;
    right: -27px;
}

.background-name{
	background-color:#84B1ED;
}

.tracing-name{
	background-color: #a3c9c7;
}

.kakao-name{
	 background-color: #f9d423;
}

.animation-name{
	 background-color: #CBA6C3;
}

.font-name:hover,
.background-name:hover,
.tracing-name:hover,
.kakao-name:hover,
.animation-name:hover{
	color : white;
}

.handpen-img,
.menu-list-1{
	background-color:	#eb9f9f;
}

.background-img,
.menu-list-2{
	background-color: #84B1ED;
}

.tracing-img,
.menu-list-3{
	background-color: #a3c9c7;
}

.kakaotheme-img,
.menu-list-4{
	background-color: #f9d423;
}

.ani-img,
.menu-list-5{
	background-color: #CBA6C3;
} 

li.menu-list:nth-child(1) {
  /* background-color: #eb9f9f; */
}

li.menu-list:nth-child(2) {
  background-color: #84B1ED;
}

li.menu-list:nth-child(3) {
  background-color: #a3c9c7;
}

li.menu-list:nth-child(4) {
  background-color: #f9d423;
}

li.menu-list:nth-child(5) {
  background-color: #CBA6C3;
}

.create-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.create-card {
  /* border: 1px solid gray; */
  width: 300px;
  height: 440px;
  margin: 20px 30px;
  cursor: pointer;
}

.create-logo{
	 box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.menu-list-1,
.menu-list-2,
.menu-list-3,
.menu-list-4,
.menu-list-5 {
  text-decoration: none;
}

.create-card-img {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.like-icon {
  width: 30px;
  height: 30px;
  border: 0;
  outline: 0;
}

.like-icon-img {
    width: 20px;
    height: 20px;
}

.reply-icon-img {
    width: 20px;
    height: 20px;
}

.icon-box {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}

.create-people-img {
  width: 30px;
  height: 30px;
}

.create-title > h4 {
  margin: 5px 10px;
  /* background: black; */
/*   padding: 0 5px; */
}

.create-people {
  margin: 5px 0;
  padding: 0 10px;
}

.create-people > a {
	display: flex;
	align-items: center;
	/* background: black; */
}

.icon-box {
  margin: 5px 0;
  padding: 10px;
}

.handpen-img,
.background-img,
.tracing-img,
.kakaotheme-img,
.ani-img {
  width: 60px;
  height: 60px;
}

.create-img {
	width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.create-img > img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.a__inline-block {
    display: flex;
    align-items: center;
}

.count {
	margin: 0 5px;
}

.icon-like ,
.icon-comment {
	display: flex;
    justify-content: center;
    align-items: center;
}

.create-name {
	padding : 0 5px;
}

/* 배경화면 사이즈 */
.img {
  width: 430px;
  height: 360px;
  margin: 10px;
  padding: 15px;
  /* border: 1px solid rgb(205, 205, 205); */
}

.likes ,
.comment {
  width: 20px;
  height: 20px;
}

.mypage-name {
  width: 70%;
  height: 60%;
}

.editbtn > a {
  width: 80px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

.click {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name > a {
  text-decoration: none;
  color: white;
}

.creations-img {
  /* border: 0.3px solid gray; */
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.creation-img  {
  width: 430px;
  height: 230px;
  align-items: center;
}

.creations-sub {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sub-author {
  display: flex;
  padding: 5px 5px;
}

.sub-author > a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

.sub-title {
  padding: 0px 0 10px 10px;
  font-size: 18px;
  font-weight: bold;
  height: 15px;
}

.sub-title > h4 {
	margin : 5px -1px;
}

.sub-title > a {
  text-decoration: none;
  color: black;
}
