<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- member -->
		<typeAlias type="com.newlight.app.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.newlight.app.dto.MemberFileDTO" alias="MemberFileDTO"/>
		<typeAlias type="com.newlight.app.dto.MemberFileVO" alias="MemberFileVO"/>
		
		<!-- community -->
		<typeAlias type="com.newlight.app.dto.CommunityDTO" alias="CommunityDTO"/>
		<typeAlias type="com.newlight.app.dto.CommunityFileDTO" alias="CommunityFileDTO"/>
		<typeAlias type="com.newlight.app.dto.CommunityVO" alias="CommunityVO"/>
		
		<!-- creations -->
		<typeAlias type="com.newlight.app.dto.CreationsDTO" alias="CreationsDTO"/>
		<typeAlias type="com.newlight.app.dto.CreationsVO" alias="CreationsVO"/>
		<typeAlias type="com.newlight.app.dto.CreationsFileDTO" alias="CreationsFileDTO"/>
		
		<!-- follow, like -->
		<typeAlias type="com.newlight.app.dto.FollowsDTO" alias="FollowsDTO"/>
		<typeAlias type="com.newlight.app.dto.LikesDTO" alias="LikesDTO"/>
		
		<!-- qna -->
		<typeAlias type="com.newlight.app.dto.QnADTO" alias="QnADTO"/>
		<typeAlias type="com.newlight.app.dto.QnAFileDTO" alias="QnAFileDTO"/>
		<typeAlias type="com.newlight.app.vo.QnAVO" alias="QnAVO"/>
		
		<!-- notification -->
		<typeAlias type="com.newlight.app.dto.NotificationDTO" alias="NotificationDTO"/>
		
		<!-- mypage -->
		<typeAlias type="com.newlight.app.dto.MypageVO" alias="MypageVO"/>
		
		
	</typeAliases>

	<environments default="mysql">
		<environment id="mysql">
		<transactionManager type="JDBC"/>
		<dataSource type="POOLED">
			<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql://localhost:3306/newlight"/>
			<property name="username" value="root"/>
			<property name="password" value="1234"/>
		</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- member -->
		<mapper resource="com/mybatis/mapper/MemberMapper.xml"/>
		
		<!-- community -->
		<mapper resource="com/mybatis/mapper/CommunityMapper.xml"/>
		<mapper resource="com/mybatis/mapper/CommunityFileMapper.xml"/>
		
		<!-- creations -->
 		<mapper resource="com/mybatis/mapper/CreationsMapper.xml"/>
 		<mapper resource="com/mybatis/mapper/CreationCommentMapper.xml"/>
 		<mapper resource="com/mybatis/mapper/CreationsFileMapper.xml"/>
 		
 		<!-- follow, like -->
		<mapper resource="com/mybatis/mapper/FollowsMapper.xml"/>
		<mapper resource="com/mybatis/mapper/LikesMapper.xml"/>
		
		<!-- qna -->
		<mapper resource="com/mybatis/mapper/QnAMapper.xml"/>
		<mapper resource="com/mybatis/mapper/QnAFileMapper.xml"/>
		
		<!-- notification -->
		<mapper resource="com/mybatis/mapper/NotificationMapper.xml"/>
		
		<!-- mypage -->
		<mapper resource="com/mybatis/mapper/MypageMapper.xml"/>
	</mappers>
	
</configuration>