<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.newlight.app.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.newlight.app.dto.CommunityDTO" alias="CommunityDTO"/>
		<typeAlias type="com.newlight.app.dto.CreationsDTO" alias="CreationsDTO"/>
		<typeAlias type="com.newlight.app.dto.FollowsDTO" alias="FollowsDTO"/>
		<typeAlias type="com.newlight.app.dto.LikesDTO" alias="LikesDTO"/>
		<typeAlias type="com.newlight.app.dto.QnADTO" alias="QnADTO"/>
		<typeAlias type="com.newlight.app.dto.NotificationDTO" alias="NotificationDTO"/>
	</typeAliases>

	<environments default="mysql">
		<environment id="mysql">
		<transactionManager type="JDBC"/>
		<dataSource type="POOLED">
			<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql://localhost:3306/jsp_pm"/>
			<property name="username" value="root"/>
			<property name="password" value="1234"/>
		</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/mybatis/mapper/MemberMapper.xml"/>
		<mapper resource="com/mybatis/mapper/CommunityMapper.xml"/>
		<mapper resource="com/mybatis/mapper/CreationsMapper.xml"/>
		<mapper resource="com/mybatis/mapper/FollowsMapper.xml"/>
		<mapper resource="com/mybatis/mapper/LikesMapper.xml"/>
		<mapper resource="com/mybatis/mapper/QnAMapper.xml"/>
		<mapper resource="com/mybatis/mapper/NotificationMapper.xml"/>
	</mappers>
	
</configuration>