@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
	font-family: 'GmarketSansMedium';
}

hr {
  width: 70%;
  color: rgb(217, 217, 217);
}

main {
  padding-left: 50px;
}

.main{
  display: flex;
  justify-content: space-between;
  width: 95%;
  flex-direction: column;
  align-items: center;
}

.background-box-bin {
  height: 150%;
  width: 300px;
}

.background-creations-main {
  width: 60%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.main-aside {
  width: 15%;
  height: 100%;
  display: flex;
  background-color: rgb(255, 255, 245);
  align-items: center;
  color: white;
}

.creations-info {
	display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.creations-img {
  width: 80px;
  height: 80px;
  border-radius: 70%;
  overflow: hidden;
}

.creations-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.creations-author {
  width: 60%;
}


.follow-btn {
  text-align: center;
  color : gray;
}

.follow-btn > a {
  padding: 5px 7px;
  /* background-color: rgb(220, 220, 220); */
  /* border : 1px solid gray; */
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.follow-btn > a:hover{
	color : #ce97fa;
}

.creations-main {
  display: block;
  justify-content: center;
}

.creations-main-content {
  /* padding: 0 50px; */

  text-align: center;
}

.creations-main-content > .img-size2 {
  padding: 15px 0;
  width: 700px;
  height: 350px;
}

.creations-comment-content {
  padding: 15px 0;
  padding-left: 30px;
  white-space : pre-line;
}

.click-main {
  display: flex;
  justify-content: space-between;
}

.click{
  display: flex;
  /* justify-content: center; */
  text-align: left;
  padding-left: 10px;
} 

.click-btn {
  display: flex;
  padding-right: 10px;
}

.click-btn  a {
  text-decoration: none;
  color: gray;
  padding: 0 5px;
}

.edit-btn > a:hover,
.delete-btn > a:hover,
.list-btn > a:hover {
	color : #ce97fa;
}

.creations-like {
	display: flex;
    padding: 0px 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.creations-like  img{
  width: 15px;
  height: 15px;
  padding: 0 5px;
}

.creations-like a {
	text-decoration: none;
	padding: 0 5px;
}

.creations-comment {
	display: flex;
    padding: 0px 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.creations-comment > img{
  width: 17px;
  height: 17px;
  padding: 0 5px;
}

.comment {
  width: 65%;
  padding: 20px 0;
  padding-left : 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-input {
  display: flex;
    width: 90%;
    padding-left: 50px;
    padding-bottom: 20px;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    font-family: 'GmarketSansMedium';
}

.comment-text {
  width: 90%;
  padding: 0 50px;
  font-family: 'GmarketSansMedium';
}

.comment  textarea {
   width: 92%;
   height: 70px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   resize: none;
   font-family: 'GmarketSansMedium';
}

.comment-ok-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-ok-btn > button {
  width: 58px;
  height: 30px;
  font-family: 'GmarketSansMedium';
  font-weight: normal;
  padding: 8px 0;
}

.comment-main{
  display: flex;
  padding: 20px 10px 20px 30px;
}

.comment-border {
  border: 0px solid gray;
  width: 95%;
  /* border-radius: 7px; */
}

.comment-box {
  display: flex;
  width: 80%;
}

.comment-member {
  width: 100%;
}

.comment-writeday {
  width: 20%;
  text-align: end;
}

.comment-btn {
  display: flex;
  padding: 10px;
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.none{
   display : none;
}

.comment-btn > button {
  font-family: 'GmarketSansMedium';
  font-weight: normal;
  margin: 3px 5px;
    padding: 5px 6px;
    font-family: 'GmarketSansMedium';
    font-weight: normal;
}

.comment-img > img {
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-img {
  width: 45px;
  height: 45px;
  border-radius: 70%;
  overflow: hidden;
}

.comment-img-box {
  width: 8%;
}

/* 다운로드버튼 */

.download-btn-wrap {
  display: flex;
  justify-content: center;
  position: relative;
}

.theme-down-box {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 12px 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  width: 350px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.folder-icon {
  bottom: 17px;
  display: flex;
  background : white;
}

.folder-icon > img {
  width: 20px;
  height: 20px;
}

.donwload-name {
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  background : white;
}

.donwload-icon2 {
  left: 530px;
  bottom: 17px;
}

.download-icon > a {
	background : white;
}

.download-icon img {
  width: 20px;
  height: 20px;
  background: white;
}

.none {
	display : none;
}

.commnet-btn-ok {
  /* background-color: white; */
  border: 1px solid #e3dede;
  border-radius: 12px;
  cursor: pointer;
  color : #e3dede;
  font-weight : bold;
}

.commnet-btn-ok:hover {
	border : 1px solid #8221ce;
  color: #8221ce;
}

.img-size {
	width : 250px;
	height : 250px;
}
