<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 커뮤니티 SQL작성 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="community">
	<delete id="delete" parameterType="_int">
		delete from community
		where
		member_number = #{memberNumber}
	</delete>

	<select id="selectAll" resultType="CommunityVO"
		parameterType="map">		
		select c.community_number, m.member_nickname,
		community_title,
		community_content, community_writeday,
		community_read_count,
		count(cc.comment_number) comment_count
		from member m join community c
		on m.member_number = c.member_number
		left outer join community_comment cc 
		on c.community_number = cc.community_number
		group by c.community_number
		order by c.community_number desc
		limit #{startRow},
		#{rowCount}
	</select>

	<select id="getTotal" resultType="_int">
		select
		count(community_number)from community
	</select>

	<insert id="insert" parameterType="CommunityDTO">
		insert into
		community(community_title, community_content, community_read_count, member_number)
		values(#{communityTitle}, #{communityContent}, #{communityReadCount}, #{memberNumber})
	</insert>

	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>

	<select id="select" parameterType="_int"
		resultType="CommunityVO">
		select community_number, community_content, community_title,
		community_read_count,
		community_writeday,
		m.member_number,
		m.member_nickname
		from `member` m join community c
		on community_number = #{communityNumber} and m.member_number = c.member_number 
	</select>

	<update id="updateReadCount" parameterType="_int">
		update community
		set
		community_read_count = community_read_count + 1
		where community_number = #{communityNumber}
	</update>
	
	<delete id="delete1" parameterType="_int">
	  delete from community where community_number = #{communityNumber}
	</delete>
	
	<update id="update" parameterType="CommunityDTO">
	  update community
	  set community_title = #{communityTitle}, community_content = #{communityContent}
	  where community_number = #{communityNumber}
	</update>
	

  
</mapper>


