<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="creationsfile">

	<insert id="insert" parameterType="CreationsFileDTO">
		insert into creations_file
		(file_system_name, file_original_name, creation_number)
		values(#{fileSystemName}, #{fileOriginalName}, #{creationNumber})
	</insert>
	
	<select id="select" parameterType="_int" resultType="CreationsFileDTO">
		select file_system_name, file_original_name, creation_number
		from creations_file
		where creation_number = #{creationNumber}
	</select>

	<!-- 회원탈퇴 시 창작물 파일 삭제 -->
	<delete id="deleteMember" parameterType="_int">
		delete from creations_file f
		where f.creation_number in (select c.creation_number 
                          				 		from creations c
                         				 		where member_number = #{memberNumber})
	</delete>
	
	<select id="selectDelete" parameterType="_int" resultType="CreationsFileDTO">
		select cf.file_system_name  
		from creations c join creations_file cf 
		on c.creation_number = cf.creation_number 
		where member_number = #{memerNumber}
	</select>
	
		<!-- 만화 리스트 뿌려주기 -->
	<select id="aniList" parameterType="_int" resultType="CreationsFileDTO">
		select file_system_name from creations_file cf 
		where creation_number = #{creationNumber}
	</select>

</mapper>
