<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="creationsfile">

	<insert id="insert" parameterType="CreationsFileDTO">
		insert into creations_file
		(file_system_name, file_original_name, creation_number)
		values(#{fileSystemName}, #{fileOriginalName}, #{creationNumber})
	</insert>
	
	<select id="select" parameterType="_int" resultType="CreationsFileDTO">
		select file_system_name, file_original_name, creation_number
		from creations_file
		where creation_number = #{creationNumber}
	</select>

	<delete id="delete" parameterType="_int">
		delete from creations_file
		where creation_number = #{creationNumber}
	</delete>
</mapper>