<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 팔로우 SQL문 작성 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="follows">
<!-- 	<insert id="follow" parameterType="FollowsDTO">
		insert into follows(follower_number, followee_number)
		values(#{followerNumber}, #{followeeNumber})
	</insert> -->

	
</mapper>