<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 팔로우 SQL문 작성 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="follows">

	<delete id="delete" parameterType="FollowsDTO">
		delete from follows
		where follower_number = #{followerNumber} and followee_number = #{followeeNumber}
	</delete>
	
	<insert id="insert" parameterType="FollowsDTO">
		insert into follows
		(follower_number, followee_number)
		values(#{followerNumber}, #{followeeNumber})
	</insert>

	<delete id="deleteMember" parameterType="_int">
		delete from follows
		where follower_number = #{memberNumber} or followee_number = #{memberNumber}
	</delete>
	
	<select id="getFollowCount" parameterType="FollowsDTO" resultType="_int">
		select count(follower_number) from follows f 
		where follower_number  = #{followerNumber} and followee_number = #{followeeNumber}
	</select>
</mapper>