<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 좋아요 SQL문 작성 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="likes">
	<delete id="delete" parameterType="_int">
		delete from likes
		where member_number = #{memberNumber}
	</delete>
	
	<select id="likecount" parameterType="_int" resultType="_int">
		select count(creation_number)
		from likes l 
		where creation_number = #{creationNumber};
	</select>
	
	<delete id="likeDelete" parameterType="_int">
	delete from likes
	where creation_number=#{creationNumber}
	</delete>

</mapper>