<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 멤버 SQL작성 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="member">

   <insert id="join" parameterType="MemberDTO">
      insert into
      `member`(member_name, member_id, member_password, member_nickname,
      member_website, member_pfp, member_comment, member_email,
      member_birth, member_address1, member_address2, member_phonenumber)
      values(#{memberName}, #{memberId}, #{memberPassword},
      #{memberNickname}, #{memberWebsite}, #{memberPfp}, #{memberComment},
      #{memberEmail}, #{memberBirth}, #{memberAddress1}, #{memberAddress2},
      #{memberPhoneNumber});
   </insert>

   <insert id="pfpinsert" parameterType="MemberFileDTO">
      insert into
      member_file(member_pfp_file)
      values(#{memberPfpFile})
   </insert>

   <select id="info" parameterType="MemberFileVO"
      resultType="MemberFileVO">
      select m.member_nickname
      from `member` m join member_file mf
      where member_number = #{memberNumber}
   </select>

   <select id="login" parameterType="MemberDTO" resultType="_int">
      select
      member_number
      from member
      where member_id = #{memberId} and
      member_password = #{memberPassword}
   </select>
   
   <select id="login2" parameterType="MemberDTO" resultType="string">
      select
      member_status
      from member
      where member_id = #{memberId} and
      member_password = #{memberPassword}
   </select>

   <select id="checkId" parameterType="string" resultType="_int">
      select
      count(member_number)
      from member
      where member_id= #{memberId}
   </select>

   <select id="checkNickName" parameterType="string"
      resultType="_int">
      select count(member_nickname)
      from `member` m
      where
      member_nickname = #{memberNickname}
   </select>

   <!-- 회원정보 수정하기 -->
   <update id="edit" parameterType="MemberDTO">
      update `member`
      set
      member_password = #{memberPassword}, member_nickname =
      #{memberNickname}, member_website = #{memberWebsite}, member_pfp =
      #{memberPfp},
      member_comment = #{memberComment}, member_email =
      #{memberEmail}, member_address1 =
      #{memberAddress1}, member_address2 =
      #{memberAddress2}
      where member_number = #{memberNumber}
   </update>

   <select id="select" parameterType="_int" resultType="MemberDTO">
      select *
      from `member` m
      where member_number =
      #{memberNumber}
   </select>
   
   <select id="getMemberId" parameterType="_int" resultType="string">
        select member_id
        from member
       where member_number = #{memberNumber}
   </select>
   




   <!-- 회원탈퇴 시 프로필 사진 삭제 -->
   <select id="selectProfile" parameterType="_int"
      resultType="string">
      select member_pfp
      from `member` m
      where member_number =
      #{memberNumber}
   </select>

   <!-- 회원탈퇴하기 -->
   <delete id="deleteMember" parameterType="_int">
      delete from `member`
      where
      member_number= #{memberNumber};
   </delete>

   <select id="getMemberNickName" parameterType="_int" resultType="String">
     select member_nickname
     from member
     where member_number = #{memberNumber}
   </select>
   
   <!-- ID 찾기 -->
   <select id="findId" parameterType="MemberDTO" resultType="string">
      select member_id from `member` m 
      where member_name = #{memberName} and member_phonenumber = #{memberPhoneNumber}
   </select>
   <!--  -->
   
   <!-- PW 찾기 -->
   <select id="findPw" parameterType="MemberDTO" resultType="string">
      select member_password  from `member` m 
      where member_id = #{memberId} and member_name = #{memberName} and member_phonenumber = #{memberPhoneNumber}
   </select>
   <!--  -->
   
</mapper>