<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 내 페이지 SQL문 작성 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="mypage">
	<select id="mypageLikeList" parameterType = "MypageVO" resultType="MypageVO">
		select c.creation_number  , c.creation_title , c.member_number ,l.member_number 
		from creations c join likes l 
		on c.creation_number = l.creation_number 
		where l.member_number =#{memberNumber};
	</select>
	
	<select id="mypagefollowee" parameterType="MypageVO" resultType="MypageVO">
		select m.member_nickname , m.member_comment
		from follows f  join `member` m 
		on f.followee_number = m.member_number 
		where f.follower_number = #{memberNumber}
	</select>
	
	<select id="mypageCreations" resultType="MypageVO"  parameterType="map">
		select c.creation_title , m.member_nickname 
		from likes l join creations c join `member` m 
		on l.creation_number = c.creation_number = m.member_number 
		where m.member_number = #{memberNumber}
	</select>
	
	<select id="mypagecreation" resultType="MypageVO" parameterType="MypageVO">
		select j.creation_title, j.creation_sumnail, j.like_count , count(cc.comment_number) comment_count  from (
			select c.*, count(l.creation_number) like_count
			from creations c 
			left outer join likes l 
			on c.creation_number = l.creation_number 
			group  by c.creation_number 
		) j left outer join creations_comment cc 
		on j.creation_number = cc.creation_number
		group by j.creation_number
	</select>
	
	<select id="mypageinfo" parameterType="_int" resultType="MypageVO">
		select member_nickname , member_comment
		from `member`
		where member_number = #{memberNumber}
	</select>	
	
</mapper>