<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 내 페이지 SQL문 작성 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="mypage">
   <select id="mypageLikeList" parameterType = "MypageVO" resultType="MypageVO">
      select j.creation_number ,creation_title , creation_sumnail, j.member_number, member_nickname, like_count, member_pfp , count(cc.creation_number) comment_count
      from (
         select c.creation_number, creation_title , creation_sumnail, c.member_number ,member_nickname, member_pfp ,
            count(l.creation_number) like_count
         from creations c
         join `member` m 
         on c.member_number = m.member_number 
         join likes l 
         on l.member_number =#{memberNumber} and c.creation_number = l.creation_number 
         group by c.creation_number
      ) j left outer join creations_comment cc 
      on j.creation_number = cc.creation_number 
      group by j.creation_number
   </select>
   
   <select id="mypagefollowee" parameterType="MypageVO" resultType="MypageVO">
      select m.member_number, m.member_nickname , m.member_comment , f.follower_number , f.followee_number , m.member_pfp
      from follows f  join `member` m 
      on f.followee_number = m.member_number 
      where f.follower_number = #{memberNumber}
   </select>
   
   <select id="followerCount" parameterType="MypageVO" resultType="MypageVO">
   select j.*, count(f2.follower_number) is_follow from (
	select m.member_number, m.member_nickname , m.member_comment , f.follower_number , f.followee_number , m.member_pfp
	from follows f  join `member` m 
	on f.followee_number = m.member_number 
	where f.follower_number = #{memberNumber}
	) j left outer join follows f2 
	on f2.followee_number=#{memberNumber} and f2.follower_number = j.member_number
	group by j.member_number;
   </select>
   
   <select id="mypageCreations" resultType="MypageVO"  parameterType="map">
      select *
      from `member` m join creations c 
      on m.member_number = c.member_number 
      where m.member_number = #{memberNumber}
   </select>
   
   <select id="mypagecreation" resultType="MypageVO" parameterType="MypageVO">
      select  j.member_number, j.creation_number, j.creation_number ,j.creation_title, j.creation_sumnail, j.like_count , count(cc.comment_number) comment_count
      from (
         select c.*, count(l.creation_number) like_count
         from creations c 
         left outer join likes l 
         on c.creation_number = l.creation_number 
         group  by c.creation_number 
      ) j left outer join creations_comment cc 
      on j.creation_number = cc.creation_number
      group by j.creation_number
   </select>
   
   <select id="mypageinfo" parameterType="_int" resultType="MypageVO">
      select  member_number ,member_nickname , member_comment , member_pfp
      from `member`
      where member_number = #{memberNumber}
   </select>   
   
   <select id="mypageLikeCount" parameterType="MypageVO" resultType="MypageVO">
      select j.creation_number , creation_title , creation_sumnail, member_nickname, like_count, member_pfp , count(cc.creation_number) comment_count
      from (
         select c.creation_number, creation_title , creation_sumnail, member_nickname, member_pfp ,
            count(l.creation_number) like_count , m.member_number
         from creations c
         join `member` m 
         on c.member_number = #{memberNumber} and c.member_number = m.member_number 
         left outer join likes l 
         on c.creation_number = l.creation_number 
         group by c.creation_number
      ) j left outer join creations_comment cc 
      on j.creation_number = cc.creation_number 
      group by j.creation_number
   </select>
   
</mapper>