<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">
	<select id="selectAll" parameterType="_int"
		resultType="QnACommentVO">
		select comment_number, comment_content,
		qna_comment_writeday,qna_number,
		m.member_number, member_id
		from
		`member` m join qna_comment qc
		on qna_number =#{qnaNumber} and
		m.member_number = qc.member_number
	</select>


	<insert id="insert" parameterType="QnACommentDTO">
		insert into
		qna_comment(comment_content, member_number, qna_number)
		values(#{commentContent}, #{memberNumber}, #{qnaNumber})

	</insert>

	<delete id="delete" parameterType="_int">
		delete from qna_comment
		where
		comment_number = #{commentNumber}

	</delete>

	<update id="update" parameterType="QnACommentDTO">
		update qna_comment
		set
		comment_content=#{commentContent}
		where comment_number=#{commentNumber}

	</update>
</mapper>