<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaFile">

	<insert id="insert" parameterType="QnAFileDTO">
		insert into qna_file
		(file_system_name, file_original_name, qna_number)
		values(#{fileSystemName}, #{fileOriginalName}, #{qnaNumber})
	</insert>

	<select id="selectAll" parameterType="_int"
		resultType="QnAFileDTO">
		select file_system_name, file_original_name, qna_number
		from qna_file
		where qna_number = #{qna_number}
	</select>
	
	<!-- 회원탈퇴 시 QnA첨부파일 삭제 -->
	<delete id="deleteMember" parameterType="_int" >
		delete from qna_file 
		where qna_number in (select qna_number 
                          				 		from qna 
                         				 		where member_number = #{memberNumber})
	</delete>
	
	<select id="selectDelete" parameterType="_int" resultType="QnAFileDTO">
		select qf.file_system_name  
		from qna q join qna_file qf 
		on q.qna_number = qf.qna_number 
		where member_number = #{memberNumber}	
	</select>
	<!--  -->

	<delete id="delete" parameterType="_int">
		delete from qna_file
		where qna_number=#{qna_number}
	</delete>
	
</mapper>





