<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 문의사항 SQL문 작성 1차 2차 나눠질 예정 -->
<!-- SQL문 작성 , DB이름 추가 -->

<mapper namespace="qna">

	<select id="selectAll" resultType="QnAVO" parameterType="map">
		select
		qna_number, qna_title,
		qna_content, qna_read_count, qna_writeday,
		m.member_number, member_nickname
		from `member` m join qna q
		on
		m.member_number = q.member_number
		order by qna_number desc
		limit
		#{startRow}, #{rowCount}
	</select>

	<insert id="insert" parameterType="QnADTO">
		insert into qna_comment
		(commentent_number, commentent_content, member_number, qna_number)
		values(#{commententNumber},
		#{commententContent},#{memberNumber},#{qnaNumber})
	</insert>

	<delete id="delete" parameterType="_int">
		delete from qna
		where
		member_number = #{membeNumber}
	</delete>

	<select id="getTotal" resultType="_int">
		select count(qna_number)from
		qna q
	</select>
</mapper>