* {
   box-sizing: border-box;
   resize: none;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium';
}

.container {
   margin: 0 auto;
   max-width: 1024px;
   padding: 20px;
}

h4 {
   margin-bottom: 30px;
   font-size: 2rem;
   animation-name: delay;
   animation-duration: 2s;
   animation-delay: 0s;
}


/* 게시글 정보 스타일 */
.view-info {
   margin-bottom: 20px;
}

.title-wrap>span {
   margin-right: 20px;
   font-size: 0.8rem;
   color: #999;
}

.info-title {
   display: flex;
   align-items: center;
}

.title-wrap {
   margin-right: 20px;
}

/* 게시글 내용 스타일 */
.view-content {
   margin-bottom: 30px;
   line-height: 1.5;
   font-size: 1rem;
   white-space: pre-line;
}

/* 버튼 스타일 */
.btn-group {
   text-align: right;
   margin-top: 30px;
}

.list-btn, .edit-btn, .delete-btn {
	font-family: 'GmarketSansMedium';
   padding: 7px 5px;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 10px;
    color: gray;
    border : none;
}

.list-btn:hover, .edit-btn:hover, .delete-btn:hover {
   color : #ce97fa;
   font-family: 'GmarketSansMedium';
}

.view-attach {
   margin-bottom: 20px;
}

.view-attach>a {
   color: #333;
   text-decoration: none;
   margin-right: 10px;
}

.view-attach>a:hover {
   text-decoration: underline;
}

/* 첨부파일 스타일 */
.view-attach {
   display: flex;
   justify-content: center;
}

.img-box {
   width: 150px;
   margin: 10px;
   position: relative;
}

.img-box>img {
   width: 100%;
   height: 100%;
}

.download-btn {
   background-color: rgba(0, 0, 0, 0.4);
   width: 1.5em;
   height: 1.5em;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 0;
   right: 0;
   cursor: pointer;
   border-radius: 4px;
}

.download-btn:hover>svg {
   stroke: rgb(255, 87, 87);
   fill: rgb(255, 87, 87);
}

svg {
   width: 1em;
   height: 1em;
   fill: rgb(255, 255, 255);
   stroke-width: 1;
   stroke: rgb(255, 255, 255);
}

/* 댓글 스타일 */
.comment-wrap {
   margin-top: 20px;
}

.comment-form {
   margin: 50px 0 70px 0;
}

.comment-form textarea {
	font-family: 'GmarketSansMedium';
   width: 70%;
   height: 100px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   resize: none;
   margin: 10px 0;
}

.comment-form button {
	font-family: 'GmarketSansMedium';
   padding: 7px 7px;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 10px;
   color: gray;
   border: 1px solid gray;
}

.comment-form button:hover {
	font-family: 'GmarketSansMedium';
	border : 1px solid #ce97fa;
   color : #ce97fa;
}

.form-group {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.form-group>label {
   margin-right: 10px;
   font-size: 12px;
}

#comment-list {
   list-style: none;
}

.comment-item {
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px;
}

.comment-date {
   margin-left: 10px;
   font-size: 12px;
   color: #999;
}

.comment-content {
   margin-top: 5px;
}

.comment-list li {
   margin-bottom: 20px;
   padding-bottom: 20px;
}

.comment-info {
	font-family: 'GmarketSansMedium';
   font-size: 14px;
   color: #999;
   display: flex;
   justify-content: space-around;
}

.comment-info .writer {
   margin-right: 10px;
}

.comment-content p {
	font-family: 'GmarketSansMedium';
   font-size: 16px;
   line-height: 1.5;
   margin-top: 10px;
}

.comment-content-wrap {
   display: flex;
   justify-content: space-around;
}

.comment-btn-group button {
	font-family: 'GmarketSansMedium';
   margin-top: 10px;
   padding: 5px 10px;
   border: 1px solid gray;
   color : gray;
   border-radius: 5px;
   cursor: pointer;
}

.comment-btn-group button:hover {
	font-family: 'GmarketSansMedium';
   border : 1px solid #ce97fa;
   color : #ce97fa;
}

.none {
   display: none;
}

.comment-list textarea {
	font-family: 'GmarketSansMedium';
   width: 900px;
   height: 40px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   resize: none;
}

.btn {
   margin: 10px;
   padding: 10px;
   border-radius: 5px;
}

li {
   list-style-type: none;
}

.list-box {
   margin-left: 530px;
}

.footee {
   display: flex;
   align-items: center;
   justify-content: center;
}

textarea {
   resize: none;
   font-family: 'GmarketSansMedium';
}

#comment-input {
   width: 640px;
}

#comment-count {
   margin-bottom: 100px;
}

.reply-date {
   display: flex;
   margin: 10px;
   padding: 10px;
   height: 80px;
   justify-content: center;
   flex-direction: column;
}
