/* 폼 태그 */
.form {
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
}

/* 회원가입 테이블 설정 */
.table01 {
  border-top: 2px solid #6c9cc2;
  border-bottom: 2px solid #6c9cc2;
}
.table01 td {
  height: 30px;
  text-align: left;
  border-bottom: 1px solid #d2d2d2;
}
.table01 .tle {
  padding-left: 15px;
  font-weight: bold;
  font-size: 13px;
  color: #909090;
  background: rgba(255, 255, 255, 0.7);
  border-right: 1px solid #eeeeee;
}
.table01 .cont {
  padding: 8 10 8 20;
}
.table01 .nobd {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.table01 .cmt {
  color: #a9a9a9;
  font-size: 11px;
}

/* input태그 설정 */
.ed {
  height: 22px;
  border: 1px solid #dadada;
  padding: 2 2 0 2;
}

/* 회원 가입 버튼 설정 */
.myButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #6c9cc2 5%, #6c9cc2 100%);
  background-color: #6c9cc2;
  width: 125px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #6c9cc2;
  display: inline-block;
  cursor: pointer;
  color: #f6f6f6;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.myButton:hover {
  background: linear-gradient(to bottom, #6c9cc2 5%, #6c9cc2 100%);
  background-color: #6c9cc2;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/* join 테이블 설정 */
.join {
  color: #6c9cc2;
  font-family: Tw Cen MT;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
}

.mg_t20 {
  margin: 10px 0;
}

.btn-upload {
  width: 90px;
  height: 25px;
  background-color: #f0f7fa;
  border: 0px solid gainsboro;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 0 5px;
}

.btn-upload:hover {
  background-color: lightblue;
  color : black;
}

input[type='file']{
  display: none;
}

#myPfp{
  display: flex;
}

.check-msg , 
.check-msg2 {
	font-size : 8px;
	color : red;
}