*{
  background-color: rgb(255, 255, 245);
}

hr {
  width: 85%;
  color: rgb(217, 217, 217);
}

section {
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 900px;
  height: auto;
  align-content: center;
}

.mypage-main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypage-img {
  width: 80px;
  height: 80px;
  border-radius: 70%;
  overflow: hidden;
}

.mypage-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mypage-box {
  display: block;
  width: 70%;
}

.mypage-name {
  height: 60%;
}

.editbtn > a{
  width: 80px;
  /* background-color: rgb(213, 213, 213); */
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 2px 5px;
}

.editbtn > a:hover {
	color : #ce97fa;
}

.likes,
.comment {
  width: 20px;
  height: 20px;
}

.click{
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding-left: 20px;
} 

.name > a {
  text-decoration: none;
  color: grey;
}

.name > a:hover{
	color : #ce97fa;
}

.mypage-main2 > section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.img {
  width: 300px;
  height: 400px;
  margin: 10px;
  padding: 15px;
}

.creations-img {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.creations-img > img {
  width: 300px;
  height: 230px;
  align-items: center;
}

.sub-author {
  display: flex;
  padding: 5px 5px;
}

.sub-author-img {
  width: 40px;
  height: 40px;
  border-radius: 70%;
  overflow: hidden;
}

.sub-author  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-author-name  a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

.sub-title {
  padding: 20px 0 10px 10px;
  font-size: 20px;
  font-weight: bold;
}

.sub-title > a {
  text-decoration: none;
  color: black;
}

.creations-sub {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.creation-like ,
.creation-comment {
	display: flex;
    align-items: center;
}

.creations-like {
  padding: 0 10px;
  font-size: 20px;
}

.creations-like > img{
  width: 20px;
  height: 20px;
}

.creations-comment {
  padding: 0 10px;
  font-size: 20px;
}

.creations-comment > img{
  width: 22px;
  height: 22px;
}

.count {
	margin : 0 5px;
}

.creations-main {
    padding: 10px 10px;
    /* margin-left: 60px; */
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    color: rgb(193, 193, 193);
    text-align: center;
}

.creations-default {
  padding: 10px 0;
}

.creations-msg {
  padding: 10px 0;
}







.creation-like > img {
  width: 20px;
  height: 20px;
}

.creation-comment > img {
	width: 20px;
  height: 20px;
}


