*{
  background-color: rgb(255, 255, 245);
}

hr {
  width: 85%;
  color: rgb(217, 217, 217);
}

section {
  width: 100%;
}

.main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.main-aside {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.mypage-img {
  width: 80px;
  height: 80px;
  border-radius: 70%;
  overflow: hidden;
}

.mypage-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 900px;
    height: 900px;
    align-content: center;
}

.mypage-main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypage-main2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 300px;
  height: 250px;
  margin: 10px;
  padding: 15px;
  border: 1px solid rgb(205, 205, 205);
}

.likes ,
.comment {
  width: 20px;
  height: 20px;
}

.mypage-box {
  display: block;
  width: 70%;
  text-align: left;
}

.mypage-name {
  width: 70%;
  height: 60%;
}

.editbtn > a{
  width: 80px;
  /* background-color: rgb(213, 213, 213); */
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 2px 5px;
}

.editbtn > a:hover {
	color : #ce97fa;
}

.editbtn1 > a {
  width: 80px;
  /* background-color: rgb(213, 213, 213); */
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 2px 5px;
}

.editbtn1 > a:hover {
	color : #ce97fa;
}

.click {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name > a {
  text-decoration: none;
  color: grey;
}

.name > a:hover{
	color : #ce97fa;
}

.creations-main {
  padding: 5px 10px;
  /* margin-left: 60px; */
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  color: rgb(193, 193, 193);
  text-align: center;
}

.creations-main > section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 70px;
  height: 70px;
}

.creations-img > img {
  width: 300px;
  height: 230px;
  align-items: center;
}

.creations-default {
  padding: 10px 0;
}

.creations-msg {
  padding: 10px 0;
}

.none {
	display : none;
}